<div class="card text-center border-bottom ">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">&copy;Ecommers Private Limited</h5>
      <p class="card-text">Thanx for your love! Visit again...<p><span style="font-size:300%;color:red;">&hearts;</span></p>
    </p>
     </div>
    <div class="card-footer text-body-secondary">
      privacy Term
    </div>
  </div>