<div class="card text-center border-top border-bottom mb-0">
    <div class="card-header">
      @Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">&copy;Ecommers Private Limited</h5>
      <p class="card-text">Thanx for your love! Visit again...<span style="font-size:150%;color:red;">&hearts;</span></p>
      <a href="https://github.com/SumitJadhav01" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-body-secondary mt-3">
   <a href="https://www.linkedin.com/in/sumitjadhav01/">Made By @Sumit Jadhav...</a>
    </div>
  </div>