<%- include("includes/head.ejs") %>
<body>
  <%- include("includes/navbar.ejs") %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">product</th>
        <th scope="col">Amount</th>
        <th scope="col">Total</th>
        <th scope="col">product ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      
      
    </tbody>
  </table>
<%- include("includes/footer.ejs") %>

</body>

