body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* card */

.card {
  border: none;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem;
  width: 100% !important ;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}

.fa-solid {
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
.pro-link {
  text-decoration: none !important;
  color: black !important;
}

/* footer */
.card-footer a {
  text-decoration: none !important;
  color: black !important;
}
.card-footer a:hover {
  color: rgb(255, 106, 0) !important;
}
/* .show-img {
  height: 30vh;
} */

 
